{% extends 'account/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-8">
      <div class="container">
        <div class="post-single">
          <div class="post-thumbnail"><img src="{{object.img.url}}" alt="..." class="img-fluid"></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="category">
                {% for cat in object.categories.all %}
                <a href="#" class='badge badge-dark text-white py-1'>{{cat}}</a>
                {% endfor %}
              </div>
            </div>
            <h1>{{object.title}}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
            <p>
              <a class='btn btn-secondary' href="{% url 'posts:update-post' object.slug %}">Update post</a>
              <a class='btn btn-danger' type="button" data-toggle="modal" data-target="#staticBackdrop"
                href="{% url 'posts:delete-post' object.slug %}">Delete post</a>
            </p>
            <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#"
                class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="{{object.author.profile.profile_picture.url}}" alt="..."
                    class="img-fluid"></div>
                <div class="title"><span>{{object.author}}</span></div>
              </a>
              <div class="d-flex align-items-center flex-wrap">
                <div class="date"><i class="fa fa-clock"></i>{{object.timestamp|timesince}} ago</div>
                <div class="views">
                  <a href="{{object.get_like_url}}">
                    <i class="fa fa-thumbs-up"></i>
                    {{object.get_like_count}}
                  </a>
                </div>
                <div class="views"><i class="fa fa-eye"></i>{{object.get_view_count}}</div>
                <div class="comments meta-last"><i class="fa fa-comment"></i>{{object.get_comment_count}}</div>
              </div>
            </div>
            <div class="post-body">
              <p>{{object.content}}</p>
            </div>
            <div class="post-tags">
              {% for tag in object.tags.all %}
              <a href="#" class="tag">#{{tag}}</a>
              {% endfor %}
            </div>
            <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row"><a
                href="#" class="prev-post text-left d-flex align-items-center">
                <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                <div class="text"><strong class="text-primary">Previous Post </strong>
                  <h6>I Bought a Wedding Dress.</h6>
                </div>
              </a><a href="#" class="next-post text-right d-flex align-items-center justify-content-end">
                <div class="text"><strong class="text-primary">Next Post </strong>
                  <h6>I Bought a Wedding Dress.</h6>
                </div>
                <div class="icon next"><i class="fa fa-angle-right"> </i></div>
              </a></div>
            <div class="post-comments">
              <header>
                <h3 class="h6">Post Comments<span class="no-of-comments">({{object.get_comment_count}})</span></h3>
              </header>
              {% for comment in object.comment_set.all %}
              <div class="comment">
                <div class="comment-header d-flex justify-content-between">
                  <div class="user d-flex align-items-center">
                    <div class="image"><img src="{{comment.user.profile.profile_picture.url}}" alt="..."
                        class="img-fluid rounded-circle"></div>
                    <div class="title">
                      <strong>{{comment.user}}</strong>
                      <span class="date">{{object.timestamp|date:"d m | Y"}}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="comment-body">
                  <p>
                    {{ comment.content}}
                    <br>
                    <!-- comment update model functionality not done -->
                    <a href="" type="button" data-toggle="modal" data-target="#staticBackdrop">
                      <small>
                        <span class="fa fa-edit fa-1x" style="font-size: 17px;"></span>
                        <span class="fa fa-plus text-secondary" style="font-size: 14px;">
                        </span>
                      </small>
                    </a>
                    &nbsp;
                    <a href=""><small><span class="fa fa-trash text-danger" style="font-size: 17px;"></span><span
                          class="fa fa-minus text-danger" style="font-size: 14px;"></span></small></a>

                  </p>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="add-comment">
              <header>
                <h3 class="h6">Leave a reply</h3>
              </header>
              {% if request.user.is_authenticated %}
              <form action="." class="commenting-form" method="POST">
                {% csrf_token %}
                <div class="row">
                  <div class="form-group col-md-12">
                    {{ form|crispy}}
                  </div>
                  <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-secondary">Submit Comment</button>
                  </div>
                </div>
              </form>
              {% else %}
              <p>
                to add a comment to this post, please
                <a href="{% url 'account_login' %}">login</a>
              </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </main>
    <aside class="col-lg-4">
      {% include 'includes/sidebar.html' %}
    </aside>
  </div>
</div>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
  Launch static backdrop modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Are you sure you want delete {{object.title}}?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'posts:delete-post' object.slug %}" method="POST">
          {% csrf_token %}
          <!-- {{form|crispy}} -->
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Yes, Confirm</button>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Yes, Confirm</button>
      </div> -->
    </div>
  </div>
</div>
{% endblock content %}